.liveCases{
    padding: 5px;
    overflow: hidden;
}

.table{
    height: 800px;
    overflow:auto;
    text-align: center;
    margin: 10px 10px;
    width: 90%;   
}

.table th{
    position: sticky;
    top:0;  
    background-color: #16c1c9;
    color: beige; 
}

.table td{
    padding: 0.3rem;
}

.table tr{
    background-color: #16c1c9;
    color: beige;
}

.tableData tr:nth-of-type(odd){
    color: black;
    font-weight: bold;
}